.square {
  height: 50px;
  width: 50px;
  border: grey 1px solid;
}
.blue{
  background-color: #5454ff;
}

.App{
  margin: 50px;
  position: relative;
}

.table {
  margin-top: 10px ;
  border: 1px grey solid;
  border-collapse: collapse;
}

.flex{
  display: flex;

}
.col{
  margin-left: 10px ;
  flex-direction: column;
  width: 120px;
}
.inline-block{
  display: inline-block;
}

.btn{
  color: white;
  background-color: #5454ff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.log-title{
  font-weight: bold;
  font-size: 29px;
}
.log-item {
  border: 1px palevioletred solid;
  background-color: #fff1e1;
  padding: 4px 2px;
  margin: 2px;
  border-radius: 5px;
  color: #91674d;
  font-weight: bold;

}
.text-block {
  width: 200px;

}